/* Sidebar */
#sidebar {
  transition: all 0.3s;
  width: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1000;
  background-color: #343a40; /* Dark background */
  padding-top: 60px;
}

  #sidebar.active {
    width: 20%;
  }

/* Content */
#content {
  transition: all 0.3s;
  width: 100%;
}

  /*#content.active {
    margin-left: 20%;
    width: 80%;
  }*/

/* Sidebar Toggle Button */
/*#sidebarCollapse {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
}

.sidebar-header {
  padding: 20px;
  background: #343a40;
}

.components {
  padding: 20px 0;
}*/
@media (max-width: 768px) {
  #sidebar {
    width: 100%;
    position: relative;
    height: auto;
  }

  #content {
    margin-left: 0;
  }
}
