
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <nav id="sidebar" class="col-2 col-md-2 bg-dark text-white position-fixed vh-100" style="width: 20%;">
      <div class="sidebar-header">
        <h3>Employee Management</h3>
        <ul class="list-unstyled components">
          <li><a routerLink="/department" routerLinkActive="active">Departments</a></li>
          <li><a routerLink="/job-title" routerLinkActive="active">Job Titles</a></li>
          <li><a routerLink="/employee-lifecycle" routerLinkActive="active">Employee Lifecycle</a></li>
          <li><a routerLink="/employee-data-import-export" routerLinkActive="active">Data Import/Export</a></li>
          <li><a routerLink="/employee" routerLinkActive="active">Employees</a></li>
        </ul>

        <h3>RecruitmentManagement</h3>
        <ul class="list-unstyled components">
          <li><a routerLink="/job-posting" routerLinkActive="active">Job Posting</a></li>
          <li><a routerLink="/interview" routerLinkActive="active">Interview</a></li>
          <li><a routerLink="/applicnt" routerLinkActive="active">Applicant</a></li>
          <li><a routerLink="/WorkExperience" routerLinkActive="active">WorkExperience</a></li>
          <li><a routerLink="/Education" routerLinkActive="active">Education</a></li>
        </ul>
      </div>
      

    </nav>

    <!-- Content Area -->
    <div id="content" class="col offset-2 offset-md-2" style="margin-left: 20%;">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button id="sidebarCollapse" class="btn btn-dark">
          <i class="fas fa-bars"></i>
          <a routerLink="/HomePage" routerLinkActive="active">Home</a>
        </button>
      </nav>
      <div class="container mt-4">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
